apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ipa2025-msapp-web
  namespace: devops-tools  # <-- namespace ที่เราติดตั้ง ArgoCD
spec:
  project: ipa2025 # <-- ชื่อ Project ที่เราจะสร้างใน ArgoCD
  source:
    repoURL: 'https://github.com/Achakach/ipa2025-msapp.git' # <-- Repo ของคุณ
    targetRevision: HEAD
    path: web/manifests # <-- Path ตามคู่มือ Lab
  destination:
    server: https://kubernetes.default.svc
    namespace: ipa2025
  syncPolicy:
    automated:
      prune: true
      selfHeal: true