services:
  web:
    build: ./web
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    networks:
      - app-net
    env_file:
      - .env
    environment:
      MONGO_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/"
      DB_NAME: "ipa2025_db"

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-net
    env_file:
      - .env

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "15672:15672"
      - "5672:5672"
    networks:
      - app-net
    env_file:
      - .env
    # เพิ่ม healthcheck เข้าไปตรงนี้
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  scheduler:
    build: ./scheduler
    # แก้ไข depends_on ตรงนี้
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_healthy # <--- รอให้ rabbitmq healthy ก่อน
    networks:
      - app-net
    env_file:
      - .env
    environment:
      MONGO_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/"
      DB_NAME: "ipa2025_db"
      RABBITMQ_HOST: "rabbitmq"

  worker:
    build: ./worker
    # แก้ไข depends_on ตรงนี้
    depends_on:
      mongo:
        condition: service_started
      rabbitmq:
        condition: service_healthy # <--- รอให้ rabbitmq healthy ก่อน
      scheduler:
        condition: service_started
    networks:
      - app-net
    env_file:
      - .env
    environment:
      MONGO_URI: "mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongo:27017/"
      DB_NAME: "ipa2025_db"
      RABBITMQ_HOST: "rabbitmq"

volumes:
  mongo-data:

networks:
  app-net: