---
- name: Delete a specific DNS Server
  hosts: all
  gather_facts: no

  vars:
    ansible_network_os: cisco.ios.ios
    ansible_user: "{{ router_user }}"
    ansible_password: "{{ router_pass }}"
    ansible_connection: ansible.netcommon.network_cli

  tasks:
    - name: Remove the specified DNS server
      cisco.ios.ios_config:
        lines:
          - "no ip name-server {{ dns_server }}"